body{
    font-size:12px;
    font-family: 'Raleway', sans-serif;
    margin: 0px;

}
label,h4{
    font-size: 15px;
    font-weight:normal;
}
em{
    color: #009999;
    font-size:20px;
    font-family:"Times New Roman", Times, serif;
}
/* Header section*/
header{
    background:#cc6600;
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
}
.float-center{
    text-align:center;
	font-family:"Times New Roman", Times, serif;
}
/*Navigation area*/
ul {
    margin-top: 15px;
    padding-left: 50px;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-size:15px;
    text-align: center;
    padding: 14px 16px;
	margin-right:20px;
    text-decoration: none;
	border-radius: 5px;
	background-color: lightseagreen;
}
li a.active{
     background-color: #009999;
}
/* Change the link color to #009999 on hover */
li a:hover {
    background-color: #009999;
    border-left: 2px solid #009999;
}
/* user area*/
.user-area{
    padding-left:50px;
}
.user-area>img{
    width:80px;
    height:80px;

    border-radius: 50%;
}
/**user dashboard area*/
.user-dashboard-content{
    padding:20px 200px 0px 200px;
}
.userAdmin-dashboard-content{
    padding:20px 100px 0px 100px;
}
.img-circle{
    width:150px;
    height:150px;
    border-radius: 50%;
}
.image-circle-2{
    padding-top:5px;
    width:70px;
    height:70px;
    border-radius: 50%;
    float:right;
}
.image-circle-3{
    width:70px;
    height:70px;
    border-radius: 50%;
}
/* text color styles*/
.text-white{
    color:white;
}
/*text font size*/
.text-large{
    font-size: 25x;
}
.content{
    padding-left: 50px;
    padding-right: 50px;
}
.content-with-image{
    background-image: url("../images/fast-food-bgd.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size:cover;
}
.content-with-image2{
    background-image: url("../images/YUMMY-FAST-FOOD.jpg");
    width: 100%;
    height: auto;
    background-repeat:no-repeat;
    background-size:cover;
}
/* body-section*/
.body-section{
    padding:0px;
}
/*form section areas*/

.form-control{
    width: 100%;
    background:none;
    color:white;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    border: 2px solid white;

}
.form-area-section{
    margin-top: 100px;
    margin-bottom:100px;
	border-radius: 25px;
    background: #996633;
    padding:100px 50px 100px 50px;
    opacity:0.8;
}

.form-control-order{
    width: 100%;
    background:none;
    color:white;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    border: 2px solid white;
}

/*Registration success Area*/
.container{
	border: 1px solid black;
	padding: 20px;
	position:absolute;
	left:30%;
}

/* column areas*/
.col-1 {
    width: 8.33%;
    float: left;
}
.col-2 {
    width: 16.66%;
    float: left;
}
.col-3 {
    width: 25%;
    float: left;
}
.col-4 {
    width: 33.33%;
    float: left
}
.col-5 {
    width: 41.66%;
    float: left;
}
.col-6 {
    width: 50%;
    float: left;

}
.col-7 {
    width: 58.33%;
    float: left;
}
.col-8 {
    width: 66.66%;
    float: left;
    padding-bottom:20px;
}
.col-9 {
    width: 75%;
    float:left;
}
.col-10 {
    width: 83.33%;
    float: left;
}
.col-11 {
    width: 91.66%;
    float: left;

}
.col-12 {
    width:100%;
    float:left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*the responsive cols*/
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width:1166px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/* button elements styling*/
.button-white{
    background:#009999;
    padding: 10px 50px 10px 50px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    border: 1px solid #009999;
	border-radius: 5px;
}

a{
 text-decoration:none;
}

a.button-white{
    background:#009999;
    padding: 10px 50px 10px 50px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    border: 1px solid #009999;
	border-radius: 5px;
}
.button-sunshine-outline{
    background: none;
    border:2px solid #009999;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    margin: 10px 0 10px 0;
    color: #009999;
    border-radius: 5px;
    float: right;
}
.button-sunshine-outline-order{
    background: none;
    border:2px solid #009999;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    margin: 10px 0 10px 0;
    color:white;
    border-radius: 5px;
    float: right;
    width: 100%;
}
.button-addItem{
    background: #009999;
    border:2px solid #009999;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    margin: 10px 0 10px 0;
    color:white;
    border-radius: 5px;
    float: right;
    width: 100%;
}
.add-item{
    background: #009999;
    border:2px solid #009999;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    margin: 10px 0 10px 0;
    color: white;
    border-radius: 5px;
    float: right;
    width:10%;
}
.button-success{
    background-color:green;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    color: white;
    border: 1px lightseagreen;
    margin-bottom:5px;
}
.button-danger{
    background-color:#cc0000;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    color: white;
    border: 1px red;
}
/* food container section*/
.row >.food-container{
    background:black;
}
/* footer section */
.footer-section{
    margin-top: 50px;
    background: #cc6600;
    padding: 50px 0px 50px 0px;
}
.footer-section2{
    margin-top: 50px;
    padding: 0px 0px 0px 0px;
}
.copy-right-area > p{
    text-align:center;
    color:#009999;
}
/* the table styling */
#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 15px;
    overflow-x:auto;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    /* Add a bottom border to the  table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #cc6600;
}
/* modal boxes */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}