<!DOCTYPE html>
<html>
<head>
  <title>Fast-Food | Completed</title>
  <link href="../static/css/main.css" rel="stylesheet" />
</head>
<body>
<!--Header section-->
<header>
	 <!--Navigation section -->
    <div class="nav-section">
        <div class="row">
			<div class="col-2 user-area">
                <img src="../static/images/fast-food-bgd.jpg">
            </div>
            <div class="col-6">
                <ul>
					<li>
                        <a href="index.html" class="">Order Now!</a>
                    </li>
                    <li>
                        <a href="userOrderHistory.html" class="">My Order History</a>
                    </li>   
					<li>
                        <a href="login.html" class="">Log Out</a>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</header>   
	
	<!--the body section -->
<div class="body-section">	
    <div class="row userAdmin-dashboard-content">			
	<div class="">
		<h3 style="color:#0fad00">Thank you for purchasing from Fast Food Fast online Food!!!</h3>
        <h2>Invoice</h2>
            <!-- the begining of the tables -->
		<table id="myTable">
		  <tr>
			<td>Name</td>
			<td>Preston</td>
		  </tr>
		  <tr>
			<td>Card number:</td>
			<td>1245345</td>
		  </tr>
		  <tr>
			<td>Billing Address:</td>
			<td>Kireka, kampala</td>
		  </tr>
		  <tr>
			<td>Total cost</td>
			<td>150,000=</td>
		  </tr>
		  <tr>
			<td>Delivery-date</td>
			<td>5/09/2018</td>
		  </tr>
		</table>
	</div>
	</div>
</div>
<!--- the footer section of the app--->
<div class="footer-section2">
    <div class="footer-area">
    </div>
    <div class="copy-right-area">
         <P>&copy; Fast-Food-Fast Challenge 2018</P>
</div>
</div>
<script src="../static/js/main.js"></script>
</body>
</html>

</body>
</html>
