<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast-Food| login</title>
    <link href="../static/css/main.css" rel="stylesheet" />   
</head>
<body class="content-with-image">
	<div class="form-area-section">
        <br><br> <h2 style="color:#0fad00">Success</h2>
         <img src="../static/images/suc.jpg">
        <h3>Dear Customer</h3>
        <p style="font-size:20px;color:white;">Thank you for registering with us. Login to your account to continue.</p>
        <a href="/" class="button-white text-white">Log in</a>
        </div>
<!--- the footer section of the app--->
<div class="footer-section2">
    <div class="footer-area">
    </div>
    <div class="copy-right-area">
        <P>&copy; Fast-Food-Fast Challenge 2018</P>
    </div>
</div>
<script src="../static/js/main.js"></script>
</body>
</html>
