<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fast-Food| Order History</title>
    <link href="../static/css/main.css" rel="stylesheet" />   
</head>
<body class="">
<!--Header section-->
<header>
	 <!--Navigation section -->
    <div class="nav-section">
        <div class="row">
			<div class="col-2 user-area">
                <img src="../static/images/fast-food-bgd.jpg">
            </div>
            <div class="col-6">
                <ul>
					<li>
                        <a href="index.html" class="">Order Now!</a>
                    </li>
                    <li>
                        <a href="userOrderHistory.html" class="active">My Order History</a>
                    </li>               
                </ul>
            </div>            
        </div>
    </div>
</header>
<!--the body section -->
<div class="body-section">
    <h1 class="float-center">My History of ordered food</h1>
    <div class="row  user-dashboard-content">
            <div class="col-2">
                <td><img src="../static/images/Mashed-Potatoes.jpg" class="image-circle-2"></td>
            </div>
            <div class="col-10">
                <h3> Mashed Potatoes <em>Order Date:05/09/2018</em></h3>
                <p>am liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
							Lorem ipsum dolor sit amet, consectetuer
                </p>
            </div>
    </div>
    <div class="row  user-dashboard-content">
            <div class="col-2">
                <td><img src="../static/images/Mac-Cheese.jpg" class="image-circle-2"></td>
            </div>
            <div class="col-10">
                <h3> Mac & Cheese <em>Order Date:03/09/2018</em></h3>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
							vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
							luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
            </div>
    </div>
    <div class="row  user-dashboard-content">
            <div class="col-2">
                <td><img src="../static/images/Doublicious Sandwich–Combo.jpg" class="image-circle-2"></td>
            </div>
            <div class="col-10">
                <h3> Doublicious Sandwich – Combo <em>Order Date:01/09/2018</em></h3>
                <p>Consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
							sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
							takimata sanctus est Lorem.
                </p>
            </div>
    </div>
</div>

</div>

<!--- the footer section of the app--->
<div class="footer-section2">
    <div class="footer-area">
    </div>
    <div class="copy-right-area">
        <P>&copy; Fast-Food-Fast Challenge 2018</P>
    </div>
</div>
<script src="../static/js/main.js"></script>
</body>
</html>